header {
  background-color: #16181f;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0 0;
}

h1, h2 {
  margin: 1em 0 0;
}

h4, h5 {
  margin-top: 1em;
  font-weight: 100;
}
