header {
  background-color: #16181f;
  padding-bottom: 1px;

}

h2 {
    margin: 0;
    line-height: 0;
    padding-top: 2%;
    color: white;
}

h5 {
    margin-bottom: 2%;
    color: whitesmoke;
    font-weight: 100;
}
