footer {
  background-color: #16181f;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

#footer-logo {
    height: 0.8em;
    width: auto;
    padding: 0 0.35em;
}